---
// This component just wrap your custom JSXGraph components
import { markToHtml } from "../../tools/helper.parser";
import BaseContainer from "../Globals/BaseContainer.astro";

const {description="Description"} = Astro.props;
---

<BaseContainer>
    <div id="figure" class="flex flex-col items-center w-full h-96">
        <slot/>
        <div set:html={markToHtml(description)} class="p-4">
        </div>
    </div>
</BaseContainer>
