@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-mono: "Roboto Mono", monospace;
  --font-pt: "PT Serif", serif;
  --font-cormorant: "Cormorant Garamond", serif;

  --color-primary-dark: #101010;
  --color-dark-50: #181818;
  --color-dark-100: #333333;
  --color-dark-200: #494949;
  --color-primary-white: #d1d5db;
}

.csl-entry {
  @apply my-4 text-gray-300;
}

[data-tooltip] {
  @apply relative cursor-pointer;
}

[data-tooltip]::after {
  @apply absolute invisible opacity-0
         bg-dark-100 text-white text-sm py-2 px-3
         w-max max-w-xs break-words text-left z-50
         left-1/2 transform -translate-x-1/2 bottom-full mb-2 border
         shadow-lg transition-opacity duration-200;
  content: attr(data-tooltip);
}

[data-tooltip]::before {
  @apply absolute invisible opacity-0
         w-0 h-0 z-50
         left-1/2 transform -translate-x-1/2 bottom-full
         border-solid border-8 border-transparent border-t-gray-800
         transition-opacity duration-200;
  content: '';
  margin-bottom: -6px;
}

[data-tooltip]:hover::after,
[data-tooltip]:hover::before {
  @apply visible opacity-100;
}

math {
  @apply mt-6;
}
