---
import type { MarkdownHeading } from 'astro';
import TableOfContents from '../RightSidebar/TableOfContents';
import BaseContainer from '../Globals/BaseContainer.astro';

type Props = {
    title: string;
    headings: MarkdownHeading[];
    description: string,
    githubEditUrl: string;
};

const { title, headings, description, githubEditUrl } = Astro.props;
---

<article id="article" class="content mx-4 w-[700px]">
    <section class="main-section">
        <div class="my-10 border-l-2 border-white">
            <div class="bg-white w-fit px-2">
                <h1 class="text-5xl font-bold text-primary-dark">{title}</h1>
            </div>
            <p class="text-xl text-dark font-thin pt-2 pl-2">{description}</p>
        </div>
        <div class="non-sticky top-0 z-50">
            <BaseContainer>
                <nav class="block">
                    <TableOfContents client:media="(max-width: 70em)" headings={headings} />
                </nav>
            </BaseContainer>
        </div>
        <slot />
    </section>
    <nav class="block sm:hidden">
    </nav>
</article>
