---
import type { MarkdownHeading } from 'astro';
import TableOfContents from '../RightSidebar/TableOfContents';

type Props = {
	title: string;
	headings: MarkdownHeading[];
    description: string,
	githubEditUrl: string;
};

const { title, headings, description, githubEditUrl } = Astro.props;
---

<article id="article" class="content">
	<section class="main-section">
        <div class="">
            <h1 class="text-5xl font-bold" id="overview">{title}</h1>
            <p class="text-xl font-thin py-4">{description}</p>
            <hr/>
        </div>
		<nav class="block sm:hidden">
			<TableOfContents client:media="(max-width: 50em)" headings={headings} />
		</nav>
		<slot />
	</section>
	<nav class="block sm:hidden">
	</nav>
</article>

<style>
	.content {
		padding: 0;
		max-width: 75ch;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.content > section {
		margin-bottom: 4rem;
	}

	.block {
		display: block;
	}

	@media (min-width: 50em) {
		.sm\:hidden {
			display: none;
		}
	}
</style>
