---
// IMPORTANT: import the JSXGraph wrapper component
import JSXGraph from "../Figures/JSXGraph.astro";

let html: string = "";

if (Astro.slots.has("default")) {
  html = await Astro.slots.render("default");
}
---

<JSXGraph id="vector-space-2d">
  <div set:html={html} class="pb-4"></div>
</JSXGraph>

<script>
import JXG from '../../tools/jsxgraph.init.js'

let board = JXG.JSXGraph.initBoard('vector-space-2d', {
    boundingbox:[-5,10,5,-10],
    axis:true, 
    showNavigation:true, 
    showCopyright:false,
    defaultAxes: {
        x : {
            name: 'X',
            withLabel: true,
            label: {
                position: 'rt',
                offset: [-10, -15]
            }
        },
        y : {
            withLabel:true,
            name: 'Y',
            label: {
                position: 'rt',
                offset: [-20, -10]
            }
        }
}});

const vector1 = [2,3];
const vector2 = [-3,3];
const vector3 = [5,-4];
const vector4 = [-3,-3];

board.create("arrow", [[0,0], vector1], {fixed:true});
board.create("arrow", [[0,0], vector2], {fixed:true});
board.create("arrow", [[0,0], vector3], {fixed:true});
board.create("arrow", [[0,0], vector4], {fixed:true});

const limit = 1000000;

board.create("regularpolygon", [[limit, limit], [-limit, limit], 4], {
    color: "blue",
    fixed: true
});

</script>
