---
const {description} = Astro.props;
---
<div class="flex flex-col items-center border-[0.3px] border-dark-100 my-4">
    <canvas id="viewport" class="flex justify-center w-96"></canvas>
    <em class="py-4">Figure X.X: {description}</em>
</div>

<script>
// import tello from '../3d/hero.js'

import * as THREE from 'three';

const viewport = {
    width: 500,
    height: 300
}

const canvas = document.getElementById('viewport');

const scene = new THREE.Scene();

const camera = new THREE.PerspectiveCamera(75, viewport.width/viewport.height);

const renderer = new THREE.WebGLRenderer({
    canvas: canvas,
    alpha: true,
});
renderer.setSize(viewport.width, viewport.height);
renderer.setAnimationLoop(animate);

const cube = new THREE.Mesh(
    new THREE.BoxGeometry(1, 1, 1),
    new THREE.MeshNormalMaterial()
);

scene.add(cube);

camera.position.z = 3;

function animate(){
    cube.rotation.x += 0.01;

    renderer.render(scene, camera);
}
</script>
