---
import katex from 'katex';
import {NOTATION} from '../consts';

export interface Props {
    formula: string,
    description: string
}

const {
    formula, 
    description="Please insert the description of this equation"
} = Astro.props;

const html = katex.renderToString(formula, {
    macros: NOTATION
});

---

<div data-latex={formula} id="math" class="math relative flex flex-col items-center border-[0.3px] border-dark-100 my-4">
    <p set:html={html} class="pt-4"></p>
    <p>Equation X.X: {description}</p>
    <!-- The button is disable because most of the latex are custom commands -->
    <button id="test-latex" class="hidden absolute top-2 right-2">Copy LaTeX</button>
</div>

<script>
// import katex from 'katex';
const btn = document.querySelector("#test-latex");
const math = document.querySelector("#math");

btn.addEventListener('click', () => {
    navigator.clipboard.writeText(math.dataset.latex);
    console.log(math.dataset.latex);
});
</script>
