---
// IMPORTANT: import the JSXGraph wrapper component
import JSXGraph from "../Figures/JSXGraph.astro";

let html: string =  ""

if (Astro.slots.has("default")) {
  html = await Astro.slots.render("default")
}
---

<JSXGraph id="laser-data">
  <div set:html={html} class="pb-4"></div>
</JSXGraph>

<script>
// IMPORTANT: import JSXGraph
import JXG from '../../tools/jsxgraph.init.js'

let board = JXG.JSXGraph.initBoard('laser-data', {
    boundingbox:[-5,15,10,-5],
    axis:true, 
    showNavigation:true, 
    showCopyright:false,
    keepaspectratio:true,
    defaultAxes: {
        x : {
            name: 'X',
            withLabel: true,
            label: {
                position: 'rt',
                offset: [-10, -15]
            }
        },
        y : {
            withLabel:true,
            name: 'Y',
            label: {
                position: 'rt',
                offset: [-20, -10]
            }
        }
}});

let laser_points = [[8.37,1.12],[7.31,2.74],[5.81,2.57],[5.19,4.25],[4.06,4.94],[3.25,6.37],[1.75,6.69],[1.37,7.75]]

let origin = board.create('point',[0,0],{
    withLabel: false
})

for (const element of laser_points){
    board.create('point', element,{
        withLabel: false,
        fixed: true
    })
    board.create('segment',[element, origin], {
        dash: 2,
        fixed: true
    })
}

board.create('text',[7,7,"x_i = (\\rho_i, \\theta_i)"],{
    fontSize: 16
})

</script>
