---
const { content } = Astro.props;

export interface Props {
    heading: string // ALLOWS markdown with `inline` LaTeX
}

const {
  heading
} = Astro.props;

let html: string =  ""

if (Astro.slots.has("default")) {
  html = await Astro.slots.render("default")
}
---

<aside class="bg-dark-49 text-gray-900 dark:text-white pl-4 py-2 mt-6 border-l-8 border-l-blue-900 text-justify">
    <p class="font-bold">Definition: {heading}</p>
    <p class="mt-2" set:html={html}></p>
</aside>
