---
import { Prism } from '@astrojs/prism';
import BaseContainer from "./BaseContainer.astro";
import Hr from "./Hr.astro"

import '../../styles/prism-theme.css';


const {
    lang,
    filename,
    remoteURL,
} = Astro.props;

let {
    code
} = Astro.props;


const hasLang = !!lang;

const hasFileName = !!filename;

const hasRemoteURL = !!remoteURL;

const showHeader = hasLang || hasFileName;

if (hasRemoteURL){
    const response = await fetch(remoteURL);
    code = await response.text();
}
---

<BaseContainer>
    <figure class="code-block px-6">
        <div class="top py-2 relative flex items-center justify-center border-dark-50 border-b">
            <div class="absolute left-0">
                <div class="flex">
                    <div class="h-3 w-3 bg-dark-100 rounded-full"></div>
                    <div class="ml-2 h-3 w-3 bg-dark-100 rounded-full"></div>
                    <div class="ml-2 h-3 w-3 bg-dark-100 rounded-full"></div>
                </div>
            </div>
                {hasFileName ? (
                    <span class="filename text-dark-200 select-none">
                        {filename}
                    </span>
                ) : (
                    <!-- hacky way to fix went there is not filename -->
                    <span class="filename text-dark-200 select-none invisible">
                        empty
                    </span>
                )
                }
        </div>

        <Prism
            code={code}
            lang={lang}

            class="bg-primary-dark py-4"
        />


    </figure>
</BaseContainer>
