---
import BaseContainer from './BaseContainer.astro';

// TODO: fix height and make it consistent with or
// without text in the title

export interface Props {
    title: string,
    code: string,
}

const { code, title="code" } = Astro.props;
---

<BaseContainer>
    <div class="px-6">
        <div class="top py-2 relative flex items-center justify-center border-dark-50 border-b">
            <div class="absolute left-0">
                <div class="flex">
                    <div class="h-3 w-3 bg-dark-100 rounded-full"></div>
                    <div class="ml-2 h-3 w-3 bg-dark-100 rounded-full"></div>
                    <div class="ml-2 h-3 w-3 bg-dark-100 rounded-full"></div>
                </div>
            </div>
            <p class="text-dark-200 select-none">{title}</p>
        </div>
        <div class="py-4 overflow-y-auto">
            <code>
                <pre>{code}</pre>
            </code>
        </div>
    </div>
</BaseContainer>
