---
import { markToHtml } from "../../tools/helper.parser";
const {term, definition, source, link} = Astro.props;

export interface Props {
    term: string,
    definition: string,
    source: string,
    link: string
}
---

<div class="text-gray-900 dark:text-white pl-4 py-2 border-l-8 border-l-green-900 mt-6">
    <div class="mb-4">
        <p class="font-bold text-lg">{term}</p>
    </div>
    <div class="text-justify text-gray-300">
        <p set:html={markToHtml(definition)}></p>
    </div>
    <div class="mt-4 ml-4 text-gray-300">
        <span>- </span>
        <a href={link} target="_blank" rel="noopener noreferrer" class="border-b hover:border-b-2">{source}</a>
    </div>
</div>
