---
import fs from 'node:fs/promises';
import { XMLParser } from 'fast-xml-parser';
import { markToHtml } from '../../tools/helper.parser';

/* 
Just for documentation
drawio diagram viewer: https://github.com/jgraph/drawio-tools/blob/master/tools/viewer.html
*/

const {
    file,
    page="1",
    description="Please **insert** the description of this diagram"
} = Astro.props;

const url = new URL(`../../resources/${file}`, import.meta.url);
const xmlFile = await fs.readFile(url, 'utf-8');

const parser = new XMLParser();
const diagram = parser.parse(xmlFile).mxfile.diagram[parseInt(page)-1];
const src = `https://viewer.diagrams.net/?tags=%7B%7D&highlight=0000ff&edit=_blank&layers=1&nav=1&title=test.drawio#R${encodeURIComponent(diagram)}`

---
<div id="figure" class="flex flex-col items-center border-[0.3px] border-dark-100 my-4 w-full">
    <iframe style="width:100%;height:380px;" src={src}></iframe>
    <em set:html={markToHtml(description)} class="py-4 px-4"></em>
</div>
