---
import fs from 'node:fs/promises';
import { XMLParser } from 'fast-xml-parser';
import { markToHtml } from '../../tools/helper.parser';
import BaseContainer from './BaseContainer.astro';

/* 
Just for documentation
drawio diagram viewer: https://github.com/jgraph/drawio-tools/blob/master/tools/viewer.html
*/

const {
    file,
    page="1",
    description="Please **insert** the description of this diagram"
} = Astro.props;

const url = new URL(`../../resources/${file}`, import.meta.url);
const xmlFile = await fs.readFile(url, 'utf-8');

const parser = new XMLParser();
const project = parser.parse(xmlFile);

let diagram = ""

// when there is ONLY one page in the drawio file
// the property diagram is just and string
// BUT if there are more became a object of type array 
// in wich each entry of the array represent
// the page of the file in order.
if (typeof(project.mxfile.diagram) === "string"){
    diagram = project.mxfile.diagram
} else {
    diagram = project.mxfile.diagram[parseInt(page) - 1]
}

const src = `https://viewer.diagrams.net/?tags=%7B%7D&highlight=0000ff&edit=_blank&layers=1&nav=1&title=test.drawio#R${encodeURIComponent(diagram)}`

---

<BaseContainer>
    <div id="figure" class="flex flex-col items-center w-full">
        <iframe style="width:100%;height:380px;" src={src}></iframe>
        <em set:html={markToHtml(description)} class="py-4 px-4"></em>
    </div>
</BaseContainer>

