---
let html: string =  ""

if (Astro.slots.has("default")) {
  html = await Astro.slots.render("default")
}
---

<aside class="text-gray-900 dark:text-white pl-4 py-2 border-l-8 border-l-green-900 mt-6">
    <div class="text-justify text-gray-300">
        <p set:html={html}></p>
  </div>
</aside>
