---
const props = Astro.props;
---

<div class="bg-primary-dark z-50">
    <h2 {...props} class="text-3xl font-medium py-3 mt-10">
        <slot/>
    </h2>
    <hr class="h-px border-0 bg-gradient-to-r from-dark-200 to-transparent">
</div>
