---
import { markToHtml } from "../../tools/helper.parser";
import BaseContainer from "./BaseContainer.astro";

let html: string = "";

const {
    src, 
} = Astro.props;

if (Astro.slots.has("default")) {
  html = await Astro.slots.render("default")
}
---

<BaseContainer>
    <div id="figure" class="flex flex-col items-center">
        <img src={src} alt={html}>
        <span set:html={html} class="py-4"></span>
    </div>
</BaseContainer>
