---
import { markToHtml } from "../../tools/helper.parser";
import BaseContainer from "./BaseContainer.astro";

const {
    src, 
    description="Please **insert** the description of this image"
} = Astro.props;
---

<BaseContainer>
    <div id="figure" class="flex flex-col items-center">
        <img src={src} alt={description}>
        <em set:html={markToHtml(description)} class="py-4"></em>
    </div>
</BaseContainer>
