---
import { markToHtml } from "../../tools/helper.parser";
const props = Astro.props;

export interface Props {
    note: string,
}

const {
    note, 
} = Astro.props;

---

<div class="bg-dark-50 italic text-gray-900 dark:text-white p-4 border-l-8 border-l-red-900 mt-6">
    <p set:html={markToHtml(note)}></p>
</div>
