---
let html: string =  ""

if (Astro.slots.has("default")) {
  html = await Astro.slots.render("default")
}


---

<div class="mt-6 border-l-8 border-l-red-900 pl-4 py-2">
    <p class="font-bold">Important:</p>
    <div class="bg-primary-dark italic text-gray-900 dark:text-white" set:html={html}>
    </div>
</div>



