---
import { markToHtml } from "../../tools/helper.parser";
const props = Astro.props;

export interface Props {
    note: string,
}

const {
    note, 
} = Astro.props;

---

<div class="mt-6 border-l-8 border-l-red-900 pl-4 py-2">
    <p class="font-bold">Important:</p>
    <div class="bg-primary-dark italic text-gray-900 dark:text-white mt-2">
        <p set:html={markToHtml(note)}></p>
    </div>
    <!-- <div class="bg-dark-50 italic text-gray-900 dark:text-white p-4 border-l-8 border-l-red-900"> -->
    <!-- </div> -->
</div>



