---
import { markToHtml } from "../../tools/helper.parser";

export interface Props {
    concept: string,
    definition: string,
    tag?: string,
}

const { concept, definition } = Astro.props;
let { tag } = Astro.props;

if (!tag) {
  tag = concept.toLowerCase().replace(/\s+/g, '-');
}

const hasTag = typeof tag === "string" && tag.trim() !== "";
---

<div class="text-gray-900 dark:text-white pl-4 py-2 border-l-8 border-l-green-900 mt-6">
  <div class="mb-4" id={tag}>
        <p class="font-bold text-lg">Definition ({concept})</p>
    </div>
    <div class="text-justify text-gray-300">
        <p set:html={markToHtml(definition)}></p>
  </div>
</div>
