---
import BaseContainer from './BaseContainer.astro';

export interface Props {
    content: string,
}

const { content } = Astro.props;

let lines = [];

for (const elem of content.split("\\")) {
    lines.push(elem.replace("\\n","").trim());
}

---

<BaseContainer>
    <div class="px-6">
        <div class="top py-4 flex border-dark-50 border-b">
            <div class="h-3 w-3 bg-dark-100 rounded-full"></div>
            <div class="ml-2 h-3 w-3 bg-dark-100 rounded-full"></div>
            <div class="ml-2 h-3 w-3 bg-dark-100 rounded-full"></div>
        </div>
        <div class="py-4">
            {lines.map((line) => (
                <div class="flex items-center">
                    <span class="before:content-['$'] mr-2 text-dark-100"></span>
                    <p class="font-mono">{line}</p>
                </div>
            ))}
        </div>
    </div>
</BaseContainer>
