---
import BaseContainer from './BaseContainer.astro';

// TODO: fix height and make it consistent with or
// without text in the title

export interface Props {
    title: string,
    content: string,
    prompt: string, // TODO: change this to bool
}

const { content, title="Terminal", prompt="true"} = Astro.props;

const hasTitle = !!title;

let lines = [];

for (const elem of content.split("\\")) {
    lines.push(elem.replace("\\n","").trim());
}

---

<BaseContainer>
    <div class="px-6">
        <div class="top py-2 relative flex items-center justify-center border-dark-50 border-b">
            <div class="absolute left-0">
                <div class="flex">
                    <div class="h-3 w-3 bg-dark-100 rounded-full"></div>
                    <div class="ml-2 h-3 w-3 bg-dark-100 rounded-full"></div>
                    <div class="ml-2 h-3 w-3 bg-dark-100 rounded-full"></div>
                </div>
            </div>
                {hasTitle ? (
                    <span class="text-dark-200 select-none">
                        {title}
                    </span>
                ) : (
                    <!-- hacky way to fix went there is not filename -->
                    <span class="filename text-dark-200 select-none invisible">
                        empty
                    </span>
                )
                }
        </div>
        <div class="py-4">
            {lines.map((line) => (
                <code class="flex items-center">
                    <!-- <span class="before:content-['$'] mr-2 text-dark-100"></span> -->
                    {prompt == "true" ? <span class="before:content-['$'] mr-2 text-dark-100"></span> : <span class="mr-2 text-dark-100"></span>}
                    <span class="font-mono w-full">{line}</span>
                </code>
            ))}
        </div>
    </div>
</BaseContainer>
